{% extends 'base.html' %} 
{%load staticfiles%}
{% block style %}
<link rel="stylesheet" href='{% static "css/skills.css" %}'>
{% endblock style %}
{% block content %}
 <section id="skills">
 	{% for skill in skills %}
 	<progress value="{{skill.exp}}" max="100"></progress>
 	{%if request.user.is_staff%}<span>{{skill.name}}</span>{%endif%}
 	{% endfor %}
</section>
{% endblock content%}
{% block scripts%}
   <script>
   	$(function() {
	  $('progress').each(function() {
	    var max = $(this).val();
	    $(this).val(0).animate({ value: max }, { duration: 2000 });
				});
	});
   </script>
{% endblock scripts%}