{% extends 'templates/base.html' %} 
{%load staticfiles%}
{% block style %}
<link rel="stylesheet" href='{% static "skills/static/css/skills.css" %}'>
{% endblock style %}
{% block content %}
 <section id="skills">
 	{% for skill in skills %}
 	<progress value="{{skill.exp}}" max="100"></progress>
 	<span>{{skill.name}}</span>
 	{% endfor %}
</section>
{% endblock content%}
{% block scripts%}
   <script>
   	$(function() {
	  $('progress').each(function() {
	    var max = $(this).val();
	    $(this).val(0).animate({ value: max }, { duration: 2000, easing: 'easeOutCirc' });
				});
	});
   </script>
{% endblock scripts%}